.container {
  width: 800px;
  margin: auto;
  border-color: black;
  border-style: solid;
}

.row {
  display: flex;
  border-color: green;
  border-style: solid;
}

.column-quarter {
  flex-basis: calc(100% / 4);
  border-color: red;
  border-style: solid;
}

.phone {
  width: 100%;
  border-color: black;
  border-style: solid;
}
