.container {
  width: auto;
  margin: auto;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}

.row-title {
  font-size: 28px;
}

.column-one-fourth {
  flex-basis: calc(100% / 5);
  margin-left: 12px;
  margin-right: 12px;
}

.img-container {
  width: 100%;
  height: 80%;
}

.img {
  width: 100%;
  height: 100%;
}

.column-title {
  width: 100%;
  display: flex;
}

.column-price {
  width: 100%;
  display: flex;
}

.item-name {
  border-right: bisque;
  border-right: solid;
  margin-right: 5px;
}

.item-size {
  border-style: solid;
  border-color: red;
  margin-left: 5px;
}
