.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

body {
  font-family: sans-serif;
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.imgs {
  width: 100%;
}
