.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

body {
  font-family: sans-serif;
}

.column-one-half > p {
  width: 33rem;
}

.column-one-half > img {
  width: 90%;
  height: 90%;
}

.column-one-fourth > img {
  width: 100%;
}
